$bg-color__main: #000000;
$bg-color__main__hover: #707070;
$bg-color__secondary: #000000b7;

$text-color__main: #e0e0e0;

.bg-dark {
	background-color: $bg-color__main !important;
}

.bg-dark__secondary {
	background-color: $bg-color__secondary !important;
	transition: all 0.2s;
}

.bg-pink {
	background-color: #e64b58;
}

/*  */
$sizeBtn: 40px;
#button__onTop {
	display: inline-block;
	background-color: #b5d5ff;
	width: $sizeBtn;
	height: $sizeBtn;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	position: fixed;
	bottom: 3vh;
	right: 0px;
	transition: background-color 0.3s;
	z-index: 1000;
	&:hover {
		cursor: pointer;
		background-color: #333;
	}
	&:active {
		background-color: #555;
	}
	&:after {
		content: "\f077";
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		font-size: 1em;
		line-height: $sizeBtn;
		color: #fff;
	}
}

/*  */

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans";
	overflow-x: hidden;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	background-color: #444444;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(181, 213, 255);
	background-image: -webkit-linear-gradient(
		90deg,
		transparent,
		rgba(0, 0, 0, 0.4) 50%,
		transparent,
		transparent
	);
}

/*  */

header {
	nav {
		.logo {
			border-radius: 50%;
		}
		.nav-item {
			.dropdown-menu {
				background-color: $bg-color__secondary !important;
				.dropdown-item {
					color: $text-color__main !important;
					background-color: $bg-color__secondary !important;
					&:hover {
						background-color: $bg-color__main__hover !important;
					}
				}
			}
		}
	}
}

main {
	// min-height: 90vh;
	.background__header {
		height: 40vh;
		object-fit: cover;
	}
	#box__information {
		background: linear-gradient(
			60deg,
			#a1a1a1 0%,
			#add1d6 51%,
			#bae5f5 85%
		);
	}
	.progress {
		height: 10px;
		.progress-bar {
		}
	}
	ul.timeline {
		list-style-type: none;
		position: relative;
		&:before {
			content: " ";
			background: #d4d9df;
			display: inline-block;
			position: absolute;
			left: 29px;
			width: 2px;
			height: 100%;
			z-index: 400;
		}
		> li {
			margin: 20px 0;
			padding-left: 20px;
			&:before {
				content: " ";
				background: white;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
				border: 3px solid #22c0e8;
				left: 20px;
				width: 20px;
				height: 20px;
				z-index: 400;
			}
		}
	}

	#page__bottom {
		.logo {
			border-radius: 50%;
		}
	}
}

footer {
}
